.creative-size{
    width: 580px;
    height: 400px;
}

@font-face {
    font-family: SpecsaversWeb-Regular;
    src: url("./assets/SpecsaversWeb-Regular.woff2") format("woff2"), url("./assets/SpecsaversWeb-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SpecsaversWeb-Medium;
    src: url("./assets/SpecsaversWeb-Medium.woff2") format("woff2"), url("./assets/SpecsaversWeb-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SpecsaversWeb-Bold;
    src: url("./assets/SpecsaversWeb-Bold.woff2") format("woff2"), url("./assets/SpecsaversWeb-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: "SpecsaversWeb-Medium";
}

img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
}

sup{
    line-height: 0;
     position: relative;
     vertical-align: super;
}

#container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

#logo-wrapper {
    position: absolute;
    margin: 0 auto;
    height: 52px;
    width: 136px;
    bottom: 25px;
    right: 25px;
}

.copy-wrapper {
    align-items: flex-start;
    position: absolute;
    flex-wrap: wrap;
    display: flex;
    height: auto;
    bottom: 82px;
    width: 100%;
    margin-bottom: 20px;
}

.copy-wrapper>div {
    width: 100%;
}

.copy-wrapper>div>div {
    position: relative;
    padding-left: 25px;
    display: inline-flex;
    align-items: end;
    width: auto;
    float: left;
}

.cta-btn {
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    display: flex;
    width: 190px;
    height: 52px;
    bottom: 25px;
    left: 25px;
    font-family: "SpecsaversWeb-Medium";
    font-size: 20px;
}

.copy-wrapper>div>div:first-child{
    padding-right:0 ;
}

.tap-area{
    position: absolute;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    img {
        image-rendering: -webkit-optimize-contrast;
    }
}